@namespace CleanView

<CascadingValue Value="this" Name="CleanLayout">
    <div class="clean-view-base @BackgroundClass">
        <div style="@_backgroundStyle" class="clean-view-base">
            @for (int i = 0; i < ((_count > 0) ? _count : 0); i++)
            {<Larnie />}
            <header class="clean-view-top">
                <div class="clean-view-icons">
                    <button class="btn btn-outline text-white clean-view-text-shadow no-print fade-up-button @_leftButtonStateClass" @onfocusout="OnFocusOut" @onclick="OnClickLeft">
                        @LeftIcon
                    </button>
                    @if (_openLeft)
                    {
                        <div class="clean-view-pop clean-view-left" @onmouseover="OnMouseOverPanel" @onmouseout="OnMouseOutPanel">
                            @LeftMenuPanel
                        </div>
                    }
                </div>
                @HeaderCenter
                <div class="clean-view-icons">
                    @if (_openRight)
                    {
                        <div class="clean-view-pop clean-view-right" @onmouseover="OnMouseOverPanel" @onmouseout="OnMouseOutPanel">
                            @RightMenuPanel
                        </div>
                    }
                    <button class="btn btn-outline text-white clean-view-text-shadow no-print fade-up-button @_rightButtonStateClass" @onfocusout="OnFocusOut" @onclick="OnClickRight">
                        @RightIcon
                    </button>
                </div>
            </header>
            <article class="clean-view-content clean-view-content-size">
                @Content
            </article>
            <footer class="clean-view-footer no-select">
                <div class="clean-view-foot-note">
                    @((MarkupString)FootNote)
                </div>
                <div>
                    @_copyright
                </div>
            </footer>
        </div>
    </div>
</CascadingValue>